//
* {
  font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html {}

body {
  position: relative;
  min-height: 100vh;
  background: #ffffff;
  padding-bottom: 50px;
}

.navbar {
  background: #fff;
  border-radius: 0 0 12px 12px !important;
}

.btn {
  border-radius: 50px;
}

.card {
  background: #fff;
}

.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  position: absolute;
  bottom: -10px;
  width: 100%;
  right: 0;
  left: 0;
}

.footer {
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;

  border-radius: 12px 12px 0px 0px !important;
}

.site-style-default {
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(13, 35, 67, 0.07),
    0 5px 15px -4px rgba(13, 35, 67, 0.4);
}

.carousel-examples {
  margin-top: 15px;
  margin-bottom: 15px;
}

.carousel-examples--img {
  height: 350px;
  object-fit: contain;
}

.profile-avatar {
  height: 250px;
  object-fit: contain;
}

.r-100 {
  border-radius: 100%;
}


@media (max-width: 1280px) {

  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .display-5 {
    font-size: 3rem;
  }
}